<h1>Edit <%= @brewery.name %></h1>
<%= render partial: "errors", locals: {object: @brewery} %>
<br>
<div>
    <%= render partial: "form", locals: {form_builder: f} %> 
</div>

<br>
<%= link_to "Go Back", :back %>