<h1>Breweries</h1>

<% @breweries.each do |brewery| %>
    <ul>
        <li><%= link_to brewery.name, brewery_path(@brewery) %></li>
    </ul>
<% end %>

<br>
<br>
<%= link_to "Add a New Brewery", new_brewery_path %>